<nav id="sidebar">
    <!-- Sidebar Header-->
    <div class="sidebar-header d-flex align-items-center">
        <div class="avatar"><img src="img/avatar-6.jpg" alt="..." class="img-fluid rounded-circle"></div>
        <div class="title">
            <h1 class="h5">Darsan Dinesh</h1>
            <p>Web Designer</p>
        </div>
    </div>
    <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
    <ul class="list-unstyled">
        <li class="active"><a href="index.html"> <i class="icon-home"></i>Dashboard </a></li>
        <li><a href="3"> <i class="icon-grid"></i>Products </a></li>
        <li><a href="/admin/userDetails"> <i class="fa fa-bar-chart"></i>Users </a></li>
        <li><a href="#"> <i class="icon-padnote"></i>Category </a></li>
        <li><a href="#"> <i class="icon-padnote"></i>Orders </a></li>
        <li><a href="#"> <i class="icon-padnote"></i>Coupon </a></li>
    </ul>
</nav>